{% extends 'back-end/admin_panel/index.html' %}
{% load static %}

{% block main-block %}


<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->

        <!--            django message framework-->
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-6">
                {% if messages %}
                {% for message in messages %}

                <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %} role="alert">
                    <strong>{{ message }}!</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                {% endfor %}
                {% endif %}
            </div>
            <div class="col-xl-2"></div>
        </div>

        <!--            django message framework ends-->

        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card card-statistics">
                            <div class="card-header">
                                <div class="card-heading">
                                    <h4 class="card-title">About Us</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'apAboutUs' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <textarea name="about_us" id="about_us" class="form-control" maxlength="285" style="width:100%;"
                                                      cols="30" rows="10" placeholder="About Us" required></textarea>
                                        </div>
                                    </div>
                                    {% if about_us %}
                                    <button type="submit" class="btn btn-primary" disabled>Disabled</button>
                                    {% else %}
                                    <button type="submit" class="btn btn-primary">Add</button>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="card card-statistics">
                            <div class="card-header">
                                <div class="card-heading">
                                    <h4 class="card-title">About Us</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-success mb-0">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="text-center">#</th>
                                            <th scope="col" class="text-center">About Us</th>
                                            <th scope="col" class="text-center">Added</th>
                                            <th scope="col" class="text-center">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if about_us %}
                                        <tr>
                                            <th scope="row" class="text-center">{{about_us.pk}}</th>
                                            <td class="text-center">{{about_us.about_us|truncatechars:50}}</td>
                                            <td class="text-center">{{about_us.added_at}}</td>
                                            <td class="text-center">

                                                <!--                                        delete modal-->
                                                <button type="button" data-toggle="modal"
                                                        data-target="#deleteModal{{about_us.pk}}"
                                                        style="width: auto; border: none; cursor: pointer; outline: none;background:   #FF0000; color: white;">
                                                    Delete
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="deleteModal{{about_us.pk}}" tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="deleteModal{{about_us.pk}}" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <p class="modal-title" id="exampleModalLabel">Are you
                                                                    sure want to delete this informations?</p>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">No
                                                                </button>
                                                                <a href="{% url 'apDelAboutUs' pk=about_us.pk %}">
                                                                    <button type="button" class="btn btn-primary">Yes
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--                                        delete modal ends-->


                                                <button type="button" data-toggle="modal"
                                                        data-target="#edit_aboutUs{{about_us.pk}}"
                                                        style="width: auto; border: none; cursor: pointer; outline: none;background:  #3399FF; color: white;">
                                                    Edit
                                                </button>

                                                <!--                                        edit modal-->

                                                <!-- Modal -->
                                                <div class="modal fade" id="edit_aboutUs{{about_us.pk}}"
                                                     tabindex="-1"
                                                     role="dialog" aria-labelledby="exampleModalLabel"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Update
                                                                    Contact Info</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="{% url 'apEditAboutUs' pk=about_us.pk %}" method="POST"
                                                                      enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-12">
                                                                            <textarea name="about_us" id=""
                                                                                      class="form-control"
                                                                                      style="width:100%;" cols="30"
                                                                                      rows="10" placeholder="About Us"
                                                                                      required>{{about_us.about_us}}</textarea>
                                                                        </div>
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary">Update
                                                                    </button>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Cancel
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <!--                                        edit modal-->
                                            </td>
                                        </tr>
                                        {% else %}
                                        <h3 class="text-center">Contact Info not added yet!</h3>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</div>



<!-- end app-main -->
{% endblock %}